<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Etage N° : </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button (click)="navigate(0)" style="border: none; background: none;">   <a class="nav-link {{active[0]}}" >Lumier</a> </button>
        </li>
        <li class="nav-item">
        <button (click)="navigate(1)" style="border: none; background: none;">  <a class="nav-link {{active[1]}} "   >Climatiseur/Fan </a></button>
        </li>
        <li class="nav-item">
          <button (click)="navigate(2)" style="border: none; background: none;"> <a class="nav-link {{active[2]}} " >Statistique</a> </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <app-lumier [ngStyle]="navbarstylelumier()"></app-lumier>
  <app-ventilateur [ngStyle]="navbarstyleclimatiseur()"></app-ventilateur>
  


