


    <div class="container" id="app">
        <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-90">Fan</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-90 ps-2">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">AFAN</th>                
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td>
                        
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="../../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ fans.id }}</h6>
                            <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ fans.status ? 'Active' : 'Inactive' }}</p>
                    </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success"><button (click)="toggleFanStatus()">Toggle</button></span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <div class="ceiling-container" [@rotateFan]="fans.status ? 'rotate' : 'notRotate'">
                          <div class="ceiling-fan horizontal left"></div>
                          <div class="ceiling-fan horizontal right"></div>
                          <div class="ceiling-fan vertical rotated top"></div>
                          <div class="ceiling-fan vertical rotated bottom"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-90">Climatiseur</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-90 ps-2">Status</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Climatiseur</th>                
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td>
                        
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="../../assets/img/team-2.jpg" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{ fans.id }}</h6>
                            <p class="text-xs text-secondary mb-0">john@creative-tim.com</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">{{ fans.status ? 'Active' : 'Inactive' }}</p>
                    </td>
                      <td class="align-middle text-center text-sm">
                        <span class="badge badge-sm bg-gradient-success"><button (click)="toggleFanStatus()">Toggle</button></span>
                      </td>
                      <td class="align-middle text-center text-sm">
                        <div class="ceiling-container" [@rotateFan]="fans.status ? 'rotate' : 'notRotate'">
                          <div class="ceiling-fan horizontal left"></div>
                          <div class="ceiling-fan horizontal right"></div>
                          <div class="ceiling-fan vertical rotated top"></div>
                          <div class="ceiling-fan vertical rotated bottom"></div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
    </div>

